.autocompleteSelector {
    text-align: left;
    width: 99% !important;
    margin: 4px;
}

.autocompleteSelector input {
    width: 72% !important;
    margin: 0px;
}

.autocompleteSelector button {
    margin: 0px;
    height: auto !important;
}

.advancedSearchButton {
    width: 14%;
}