.menu {
	height: 100%;
	width: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	float: left;
	z-index: 15;
	border-bottom: 0px;
	border-top: 0px;
	.expanded {
		box-shadow: -3px -1px 10px #111111;
		width: 255px;
		border: 0px;
		z-index: 10005;
	}

	.menu-hover {
		list-style-type: none;
		padding: 10px;
		position: relative;
		opacity: 0.8;
		width: 235px;
		a {
			display: block;
			color: #222222;
			height: 32px;
			border-radius: 4px;
			.fa {
				width: 32px;
				display: inline-block;
				text-align: right;
				margin-right: 10px;
			}

			&:hover {
				background-color: #1d9d74;
				color: #ffffff;
				text-decoration: none;
				.fa {
					font-size: 28px;
					vertical-align: -12px;
				}
			}
		}
	}
}

.menu-item-label {
	margin-left: 6px;
	font-size: 13px;
	font-family: Verdana;
	padding: 5px 3px;
	width: 180px;
	position: absolute;
	margin-top: 3px;
}

.div-output {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 14;
}

