<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">
<cc:interface>
    <cc:attribute name="value" />
    <cc:attribute name="outcome" />
    <cc:attribute name="icon" />
</cc:interface>
<cc:implementation>
    <h:panelGroup
        layout="block"
        styleClass="menu-hover">
        <h:link outcome="#{cc.attrs.outcome}">
            <i class="fa #{cc.attrs.icon} fa-2x"></i>

            <cc:insertChildren />

            <h:outputText
                value="#{cc.attrs.value}"
                styleClass="menu-item-label"
                rendered="#{not empty cc.attrs.value}" />
        </h:link>
    </h:panelGroup>
</cc:implementation>
</html>