<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:of="http://omnifaces.org/functions"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">
<cc:interface componentType="dataSelector">
    <cc:attribute
        name="value"
        required="true" />

    <cc:attribute
        name="itemLabelProperty"
        default="name" />

    <cc:attribute
        name="dataModel"
        type="eprecise.libs.faces.dataSelector.SearchableDataModel"
        required="true" />

    <cc:attribute
        name="dataFilter"
        type="java.util.function.Predicate" />

    <cc:attribute
        name="emptyMessage"
        default="#{dataSelectorBundle.emptyMessage}" />

    <cc:attribute
        name="disabled"
        default="false" />
    <cc:attribute
        name="required"
        type="java.lang.Boolean" />

    <cc:attribute name="emptyValueLabel" />
    <cc:attribute
        name="cleanSelectionButtonLabel"
        default="#{dataSelectorBundle.cleanSelectionButtonLabel}" />
    <cc:attribute name="label" />
    <cc:attribute name="style" />
    <cc:attribute name="styleClass" />
    <cc:attribute name="scrollHeight" />

    <cc:clientBehavior
        name="change"
        event="itemSelect"
        targets="selector" />

    <cc:clientBehavior
        name="change"
        event="itemUnselect"
        targets="selector" />

    <cc:editableValueHolder
        name="selector"
        targets="selector" />

</cc:interface>
<cc:implementation>
    <h:outputStylesheet
        library="css"
        name="dataSelector.css" />
    <h:panelGroup
        id="#{cc.id}"
        styleClass="#{cc.attrs.styleClass}"
        layout="inline">
        <ui:param
            name="jsId"
            value="#{of:replaceAll(cc.clientId,':','_')}" />
        <ui:param
            name="selectorWidgetVar"
            value="#{jsId}Js" />
        <p:autoComplete
            id="selector"
            scrollHeight="${empty cc.attrs.scrollHeigth ? 250 : cc.attrs.scrollHeigth}"
            binding="#{cc.selector}"
            label="#{cc.attrs.label}"
            value="#{cc.attrs.value}"
            var="item"
            required="#{cc.attrs.required}"
            widgetVar="#{selectorWidgetVar}"
            disabled="#{cc.attrs.disabled}"
            forceSelection="true"
            dropdown="true"
            itemDisabled="#{not (empty cc.attrs.dataFilter or cc.attrs.dataFilter.apply(item))}"
            itemValue="#{item}"
            itemLabel="#{empty item ? cc.attrs.emptyValueLabel : item[cc.attrs.itemLabelProperty]}"
            emptyMessage="#{cc.attrs.emptyMessage}"
            style="#{cc.attrs.style}"
            styleClass="autocompleteSelector"
            onchange="if(this.value=='')#{jsId}CleanSelection();"
            completeMethod="#{cc.attrs.dataModel.query}">
        </p:autoComplete>

        <p:remoteCommand
            name="#{jsId}Submit"
            process="selector"
            immediate="true" />

        <script type="text/javascript">
			#{jsId}CleanSelection = function(){
				PF('#{selectorWidgetVar}').input.val('');
				PF('#{selectorWidgetVar}').hinput.val('');
				PF('#{selectorWidgetVar}').jq.val('');
				#{jsId}Submit();
			}
			</script>

    </h:panelGroup>
</cc:implementation>
</html>